
name: 'Extract Branch with Interactive Input'

on:
  workflow_dispatch:
    inputs:
      # Default input in case user does not provide one
      branch_name:
        description: "Enter the branch name to extract"
        type: string
        required: false
        default: "master"
  # Optionally, you can add a schedule trigger
  # schedule:
  #   - cron: '0 0 * * *' # Runs daily at midnight

jobs:
  choose-branch:
    runs-on: ubuntu-latest
    steps:
      - name: branch extract
        id: branch-extract
        run: |
          echo "Branch to extract: ${{ github.event.inputs.branch_name || 'master'}}"

      - name: Notify recovery on Missive
        if: success()
        uses: ./.github/actions/post-workflows-recovery
        with:
          missive-pat: "missive_pat-iTY6BhrLSlSzyJA97V14jDGKTe0BiEWQssVqXy8Zx7kZhHmL0b-Oam_arfxn2fRXdzRCWA"
          workflow-name: ${{ github.workflow }}
          branch-name: ${{ github.ref_name }}
          run-id: ${{ github.run_id }}
          repository: ${{ github.repository }}
          conversation-id: 'ef3fc7bd-a655-41ed-abc0-ec4db927efee'



